/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #FAEBE0;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }

  .profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
  }
  
  /* Estilos de las secciones */
  section {
    padding: 40px;
  }
  
  #biografia {
    background-color: #B5CDA3;
  }
  
  #proyectos {
    background-color: #C9E4C5;
  }
  
  #proyectos ul li {
    margin-bottom: 20px;
  }
  
  #contacto {
    background-color: #B5CDA3;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #C1AC95;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
